In [53]:
import pandas as pd 
import numpy as np

def metric_ht(ht:str):
    ft = ht[0]
    
    if len(ht) == 4:
        inch = ht[2:4]
    else:  
        inch = ht[2]
    
    int_inch = int(ft)*12 + int(inch)
    return int_inch

def compute_distance(pnt1,pnt2):
    x= (pnt1[0]-pnt2[0])**2
    y= (pnt1[1]-pnt2[1])**2
    return np.sqrt(x+y)

df = pd.read_csv("basketball_players.csv",index_col=0)
df['Ht'] = df['Ht'].apply(metric_ht)
df['z_Ht'] = (df['Ht']-df['Ht'].mean())/df['Ht'].std()
df['z_Wt'] = (df['Wt']-df['Wt'].mean())/df['Wt'].std()

test_ht = (74-70)/4
test_wt = (170-196.6)/51.2

df['distance'] = df.apply(lambda x: compute_distance((x['z_Ht'],x['z_Wt']),(test_ht,test_wt)),axis=1)
df = df.sort_values(by=['distance'])
df = df.dropna(subset=['distance'])
df.reset_index(drop=True)

,Player,From,To,Pos,Ht,Wt,Birth Date,Colleges,z_Ht,z_Wt,distance
0,Mike Harper,1981,1982,C-F,82,195.0,"December 9, 1957",North Park University,1.113124,-0.546145,0.116212
1,Larry McNeill,1974,1979,F-C,81,195.0,"January 31, 1951",Marquette,0.836585,-0.546145,0.165568
2,Ed Pinckney,1986,1997,F,81,195.0,"March 27, 1963",Villanova,0.836585,-0.546145,0.165568
3,Bo Ellis,1978,1980,F,81,197.0,"August 8, 1954",Marquette,0.836585,-0.469646,0.170859
4,Toni Kukoč,1994,2006,F,82,192.0,"September 18, 1968",NaN,1.113124,-0.660895,0.181054
...,...,...,...,...,...,...,...,...,...,...,...
4870,Priest Lauderdale,1997,1998,C,88,325.0,"August 31, 1973",Central State University,2.772354,4.426337,5.253842
4871,Thomas Hamilton,1996,2000,C,86,330.0,"April 3, 1975",Pitt,2.219277,4.617587,5.279831
4872,Muggsy Bogues,1988,2001,G,63,136.0,"January 9, 1965",Wake Forest,-4.141106,-2.802888,5.625361
4873,Penny Early,1969,1969,G,63,114.0,"May 30, 1943",NaN,-4.141106,-3.644385,6.016284
4874,Sim Bhullar,2015,2015,C,89,360.0,"December 2, 1992",New Mexico State,3.048892,5.765083,6.610169